{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">

        <div class="col-md-6">

            <div class="card mb-4 mt-4">
                {% if book.image %}
                <img src="{{ book.image.url }}"
                     class="card-img-top"
                     alt="{{ book.name }}"
                />
                {% else %}
                <img
                        src="{% static 'assets/images/placeholder.png' %}"
                        class="card-img-top"
                        alt="{{ book.name }}"
                />
                {% endif %}

            </div>

        </div>

        <div class="col-md-6 mt-4">

            <div class="row">

                <div class="col-12">

                    {% if is_ordered %}
                    <p class="note note-info">You have an incomplete order for this book. Wait untill the order is
                        complete to order
                        this book again. Thank You</p>

                    {% else %}
                    <button
                            type="button"
                            class="btn btn-block btn-primary btn-md"
                            data-mdb-ripple-color="#000000"
                            data-mdb-toggle="modal"
                            data-mdb-target="#exampleModal">Order Book
                    </button>
                    {% endif %}
                </div>

            </div>

            <div class="row mt-4">

                <div class="card">
                    <div class="card-header">
                        <p><strong>University: </strong>{{ book.university }}</p>
                        <p><strong>Department: </strong>{{ book.department }}</p>
                        <p><strong>Course: </strong>{{ book.course }}</p>
                        <br/>
                        <p><strong>Author: </strong>{{ book.author }}</p>
                        <p><strong>Edition: </strong>{{ book.edition }} edition</p>
                        <p><strong>Price: </strong>{{ book.price }} BDT</p>
                    </div>
                    <div class="card-body">

                        <p class="card-text note note-info">
                            <strong>Description: </strong>{{ book.description|linebreaksbr }}
                        </p>

                        <div class="card-footer">Posted: {{ book.created }}</div>
                    </div>
                    <div class="card-footer text-muted">
                        Posted by <a href="{% url 'profile' book.publisher.user.id %}" class="text-info mr-2">
                        {{ book.publisher.user.name }}</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Modal -->
<div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Order <b>{{ book.name }}</b> Book?
                </h5>
                <button
                        type="button"
                        class="btn-close"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                ></button>

            </div>
            <div class="modal-body">

                <form method="POST">
                    {% csrf_token %}

                    <div class="row form-group">
                        <div class="col-md-12 mb-3">
                            <label>Add an Additional Note</label>
                            {{ form.additional_note|add_class:"form-control" }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success btn-lg btn-block">
                        Save Order
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
