{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}
{% block content %}
<main class="page-content">
            <div class="container">
                <!-- start product slider section  -->
                <section>
                    <div class="container my-5">

                        <!-- start product details breadcrumb section  -->
                        <nav aria-label="breadcrumb" class="mb-5">
                            <ol class="breadcrumb" style="background-color: #fff!important;">
                                <li class="breadcrumb-item text-uppercase">
                                    <a style="text-decoration: none; color: #555;" href="{% url 'books:book_list' %}">Home</a>
                                </li>
                                <li class="breadcrumb-item active text-uppercase" aria-current="page">{% if department %}{{ department.name }}{% else %}All Departments{% endif %}
                                </li>
                            </ol>
                        </nav>
                        <!-- end product details breadcrumb section  -->

                        <!-- start slide section  -->
                        <div class="row">

                           <div class="col-lg-5 col-md-5 col-sm-5">
                                <img id="featured" src="{% if book.image %}{{ book.image.url }}{% else %}{% static ' img/no_image.png ' %}{% endif %}" class="img-fluid" alt="">
                            </div>

                            <div class="col-lg-7 col-md-6 col-sm-12">
                                <h2 style="color: #555; font-weight:bold ">{{ book.name }}</h2>
                                <div class="is-divider small"></div>
                                <p class="price product-page-price price-on-sale">
                                    <!--<del><span class="amount">$39.99</span></del>-->
                                    <span><span>$</span>{{ book.price }}</span>
                                </p>
                                <div class="row mt-4">
                                    <div class="col-lg-4 col-md-5 col-sm-12">
                                        <div class="div input-group d-flex mt-2">
                                            <button type="button" id="btnRemove" class="minus btn btn-default">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input type="text" id="count" name="quantity"
                                                   class="form-control input-number text-center" value="1">
                                            <button type="button" id="btnAdd" class="plus btn mr-2">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-12 button">
                                        <button class="btn btn-lg btn-default ms-3  add-to-cart">Add to cart
                                        </button>
                                        <button class="btn btn-lg btn-default ms-2   buy-now">Buy Now</button>
                                    </div>
                                </div>

                               </div>
                        </div>


                    </div>
                </section>

                <!-- end slide section  -->

                <!-- start Description section  -->
                <section class="des-area my-5">
                    <div class="container">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active text-uppercase" id="home-tab" style="color: #353535; font-weight: bold;" data-bs-toggle="tab" data-bs-target="#home" type="button" r ole="tab" aria-controls="home" aria-selected="true">
                                    description
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link text-uppercase" style="color: #353535; font-weight: bold;" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">
                                    Reviews(0)
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                <div class="container description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <ul>
                                                <li>
                                                    <p>{{ book.description }}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="container reviews">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <h4>Reviews</h4>
                                            <p>There are no reviews yet</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- start Description section  -->

            </div>

        </main>
        <!-- page-content" -->

{% endblock %}