{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} - Unpaid Ads{% endblock %}

{% block content %}

<div class="container">
    <div class="row">

        {% if not unpaid_orders %}
        <h3 class="mt-3">No Orders to Pay</h3>
        {% else %}

        {% for order_item in unpaid_orders %}
        <div class="col-auto mt-2 mb-2">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title fs-6 mt-2"><strong>Order ID: </strong>{{ order_item.id }}</h5>
                </div>

                <div class="card-body">
                    <p class="card-text fs-6">
                        <strong>Publisher: </strong>{{ order_item.book.publisher.user.name }}<br/>
                        <strong>Ordered Book: </strong>
                        <a href="{% url 'stu-book-detail' order_item.book.slug %}">
                            {{ order_item.book.name }}
                        </a><br/>
                        <strong>Total Due Amount: </strong>{{ order_item.price }} BDT<br/>
                    </p>

                    {% if not order_item.student_paid_approval %}
                    <button
                            type="button"
                            class="btn btn-outline-success mb-3"
                            data-mdb-ripple-color="#000000"
                            data-mdb-toggle="modal"
                            data-mdb-target="#modal-payment-{{ order_item.id }}"> Pay Now
                    </button>

                    {% else %}
                    <p class="note-success">Transaction ID Submitted. Waiting for approval.</p>
                    {% endif %}

                    <div class="card-footer">
                        <p class="fs-6">Ordered: {{ order_item.date_ordered|timesince }} ago</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade"
             id="modal-payment-{{ order_item.id }}"
             tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Payment Procedure</h5>
                        <button
                                type="button"
                                class="btn-close"
                                data-mdb-dismiss="modal"
                                aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <h3>Procedure will go here </h3>
                        <div class="card-body">
                            <form method="GET" action="">

                                <div class="form-outline mb-3">
                                    <input type="text" id="transactionID" name="transactionID"
                                           class="form-control" required/>
                                    <label class="form-label">Transaction ID</label>
                                </div>

                                <input name="orderID" type="text" value="{{ order_item.id }}" hidden/>

                                <div class="form-outline mb-3">
                                    <input type="text" id="phoneNumber" name="phoneNumber"
                                           class="form-control" required/>
                                    <label class="form-label">Phone Number</label>
                                </div>

                                <input type="submit" name="submitPayment"
                                       class="btn btn-success btn-lg btn-block"
                                       value="Confirm Payment"/>

                            </form>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>


{% endblock %}
