{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="d-flex justify-content-center mt-2">
            <div class="card mb-4 mt-4">

                <div class="card-header text-center note-info">
                    <h3>Sign Up as Publisher</h3>
                    <p class="mb-4">
                        Create an Account and Advertise Your Books.
                    </p>
                </div>

                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                {{ publisher_reg_form.email|add_class:"form-control" }}
                                <ul class='form-errors list-group mb-1 mt-1'>
                                    {% for error in publisher_reg_form.email.errors %}
                                    <li class="small list-group-item list-group-item-danger">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                <p class="small mt-1">{{ publisher_reg_form.email.help_text|safe }}</p>
                            </div>
                        </div>


                        <div class="row form-group mb-3">
                            <div class="col-md-12 mb-3 mb-md-0">
                                {{ publisher_reg_form.name|add_class:"form-control" }}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                {{ publisher_reg_form.password1|add_class:"form-control" }}
                                <ul class='form-errors list-group mb-1 mt-1'>
                                    {% for error in publisher_reg_form.password1.errors %}
                                    <li class="small list-group-item list-group-item-danger">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                <p class="small">{{ publisher_reg_form.password1.help_text|safe }}</p>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                {{ publisher_reg_form.password2|add_class:"form-control" }}
                                <ul class='form-errors list-group mb-1 mt-1'>
                                    {% for error in publisher_reg_form.password2.errors %}
                                    <li class="small list-group-item list-group-item-danger">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                <p class="small mt-1">{{ publisher_reg_form.password2.help_text|safe }}</p>
                            </div>
                        </div>

                        <div class="row form-group mb-4">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <input class="agree-term" id="agree-term2" name="check" type="checkbox" required/>
                                <label class="label-agree-term" for="agree-term2">
                                    I agree to all statements in
                                    <a class="term-service"
                                       data-mdb-toggle="modal"
                                       data-mdb-target="#exampleModal"
                                       href="#">
                                        Terms and Conditions
                                    </a>
                                </label>
                            </div>
                        </div>

                        {{publisher_reg_form.is_publisher.as_hidden}}

                        <div class="row form-group mb-4">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <input type="submit" value="Create Account"
                                       class="btn px-4 btn-primary form-control text-white">
                            </div>
                        </div>
                    </form>
                </div>
                <p class="text-center">Already a member? Log in <a href="{% url 'login' %}">here</a></p>
            </div>
        </div>
    </div>
</div>

<div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Terms and Conditions</h5>
                <button
                        type="button"
                        class="btn-close"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <h3>Terms will go here </h3>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var form_fields = document.getElementsByTagName("input");

    form_fields[1].placeholder = 'Email Address';
    form_fields[2].placeholder = 'Name';
    form_fields[3].placeholder = 'Password';
    form_fields[4].placeholder = 'Confirm Password';
</script>
{% endblock %}
