{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="container-fluid p-5">
    <div class="row">

        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">

            <div class="card mb-3">
                {% if user.publisherprofilemodel.logo %}
                <img alt="{{ user.name }}" class="card-img-top" src="{{ user.publisherprofilemodel.logo.url }}">
                {% else %}
                <img alt="{{ user.name }}" class="card-img-top" src="{% static 'assets/img/p1.jpg' %}">
                {% endif %}

                <div class="card-body">
                    <h2 class="card-title">{{ user.name }}</h2>

                    <h5>Publisher</h5>
                </div>
                <div class="card-footer text-muted" style="text-align: center">
                    Member Since {{ user.date_joined.date }}
                </div>

                {% if request.user == student.user %}
                <div class="card-footer">
                    <a class="btn btn-primary btn-block" href="{% url 'student-profile-update' request.user.id %}">
                        <i class="fas fa-pencil-alt me-2"></i>Edit Profile
                    </a>
                </div>
                {% endif %}
            </div>

        </div>


        <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-9">

            <div class="container">
            </div>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Username</td>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Date Joined</td>
                    <td>{{ user.date_joined }}</td>
                </tr>

                <tr>
                    <td>Location</td>
                    <td>{{ publisher.location }}</td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td><a href="http://{{ publisher.website }}">{{ publisher.website }}</a></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{ publisher.phone }}</td>
                </tr>

                </tbody>
            </table>


        </div>

    </div>
</div>

{% endblock %}
