{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} - About{% endblock %}


{% block content %}

<div class="container">

    <h2 class="text-center mt-3 mb-3">About Us</h2>
    <div class="row d-flex justify-content-center">
        <div class="col-md-3 card text-center me-5">
            <h5 class="card-header mt-2">Intuitive and User Friendly</h5>
            <div class="card-body ">
                <p>We are consistently working to make our platform as much user friendly as we can. We have devoted
                    ourselves to this platform.</p>
            </div>
        </div>

        <div class="col-md-3 card text-center me-5">
            <h5 class="card-header mt-2">Contactless and Secure Advertisement</h5>
            <div class="card-body ">
                <p>
                    Avoiding difficulties with paying up-front and hiring the appropriate billboard/vehicle in their
                    desired
                    location.</p>
            </div>
        </div>

        <div class="col-md-3 card text-center">
            <h5 class="card-header mt-2">Run your Advertisement Remotely</h5>
            <div class="card-body ">
                <p>Enabling the consumers to see the available billboards and vehicle of all the places from any
                    place. </p>
            </div>
        </div>
    </div>

    <hr class="mt-5"/>

</div>

{% endblock %}