<!-- Footer -->
<footer class="bg-link text-center ">

    <section class="container p-4">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 mb-4">
                <h6 class="text-uppercase">customer care</h6>
                <div class="is-divider small" style="
                              background-color: rgba(255, 255, 255, 0.3) !important;
                            "></div>
                <p class="text-uppercase">faq</p>
                <hr style="border-color: rgba(255, 255, 255, 0.08)"/>
                <p>Return Policy</p>
                <hr style="border-color: rgba(255, 255, 255, 0.08)"/>
                <p>Shipping Policy</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 mb-4">
                <h6 class="text-uppercase">Developers info</h6>
                <div class="is-divider small" style="
                              background-color: rgba(255, 255, 255, 0.3) !important;
                            "></div>
                <p>About Us</p>
                <hr style="border-color: rgba(255, 255, 255, 0.08)"/>
                <p>Privacy Policy</p>
                <hr style="border-color: rgba(255, 255, 255, 0.08)"/>
                <p>Terms of Use</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h6 class="text-uppercase">keep in touch</h6>
                <div class="is-divider small" style="
                              background-color: rgba(255, 255, 255, 0.3) !important;
                            "></div>
                <p>support@Smart_Library_Management_System</p>
                <hr style="border-color: rgba(255, 255, 255, 0.08)"/>
                <p>Contact Us</p>
            </div>
        </div>
    </section>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <div class="container">
            <p class="text-dark">
                Copyright 2021 © Smart_Library_Management_System team
            </p>
        </div>
        <div class="col-md-6 mt-3 mb-6">
            <i class="fa fa-3x fa-cc-visa" aria-hidden="true"></i>
            <i class="fa fa-3x fa-cc-paypal" aria-hidden="true"></i>
            <i class="fa fa-3x fa-cc-mastercard" aria-hidden="true"></i>
        </div>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->