{% extends "base.html" %}
{% load static %}

{% load widget_tweaks %}

{% block content %}

<div class="bg-image p-5 text-center shadow-1-strong rounded text-white"
     style="background-image: url('{% static 'assets/img/bg.jpg' %}'); height: 100vh;">
    <h1 class="font-weight-bold mt-5 mb-5 text-black">
         <br/> Welcome to Smart Library Management System <br/>
    </h1>

    <div class="row mb-5 mt-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
            <p class="h3 text-black">Publishers</p>
            <p class="text-black">

            </p>
            <a href="{% url 'publisher-register' %}"
               class="btn btn-primary btn-lg btn-block text-center">
                <i class="fas fa-plus me-2"></i>Sign Up and Become a Publisher</a>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">

        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">

        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
            <p class="h3 text-black">Students</p>
            <p class="text-black">

            </p>
            <a href="{% url 'student-register' %}"
               class="btn btn-primary btn-lg btn-block text-center">
                <i class="fas fa-search me-2"></i>Sign Up and Get Your Desired Book</a>
        </div>
    </div>
</div>

{% endblock %}